In [108]:
import pandas as pd
predictedData = pd.read_csv('predictions.txt',sep=',', header = None,names =["movieid","userid","givenrating","predictedrating"])
print(predictedData.head())

   movieid   userid  givenrating  predictedrating
0        8   573364            1              3.0
1        8  1922607            3              3.4
2        8  1785017            2              2.9
3       28  2628220            4              3.9
4       28  1242044            5              3.5

In [107]:
movieData = pd.read_csv('movie_title.txt',sep='\t', header = None,names =["movieid","movieyear","movieName"])

In [159]:
movieData.head()

   movieid  movieyear                     movieName
0        1       2003               Dinosaur Planet
1        2       2004    Isle of Man TT 2004 Review
2        3       1997                     Character
3        4       1994  Paula Abdul's Get Up & Dance
4        5       2004      The Rise and Fall of ECW

In [160]:
Totaldata = predictedData.merge(movieData)
Totaldata.head()

,movieid,userid,givenrating,predictedrating,movieyear,movieName
0,8,573364,1,3.0,2004,What the #$*! Do We Know!?
1,8,1922607,3,3.4,2004,What the #$*! Do We Know!?
2,8,1785017,2,2.9,2004,What the #$*! Do We Know!?
3,28,2628220,4,3.9,2002,Lilo and Stitch
4,28,1242044,5,3.5,2002,Lilo and Stitch

In [161]:
Totaldata =Totaldata.ix[Totaldata.predictedrating > 3.5]
Totaldata.head()

    movieid   userid  givenrating  predictedrating  movieyear        movieName
3        28  2628220            4              3.9       2002  Lilo and Stitch
7        28  2152856            4              3.8       2002  Lilo and Stitch
8        28   721036            4              3.6       2002  Lilo and Stitch
9        28   705534            4              3.6       2002  Lilo and Stitch
10       28   887393            4              4.2       2002  Lilo and Stitch

In [162]:
usercounts = Totaldata.groupby('userid').size().sort_values()
highestrated = usercounts[-2:]

In [ ]:
# usercounts = Totaldata.groupby('userid')
print(usercounts)

In [164]:
filtered = Totaldata[Totaldata.userid.isin(highestrated.index)]
print(filtered)

      movieid   userid  givenrating  predictedrating  movieyear  \
39        305  2387463            4              4.0       1996
278      1744  2387463            4              4.0       1984
448      2460  2209351            4              3.9       1983
816      3903  2387463            3              4.0       1994
830      4129  2387463            2              4.3       1970
1113     5607  2387463            2              3.8       1996
1265     6336  2209351            4              4.2       1992
1349     6666  2387463            4              3.8       1996
1437     7148  2209351            5              3.8       1978
1736     9481  2209351            4              4.4       1972
2107    11347  2209351            4              3.7       1986
2158    11651  2387463            4              3.8       1992
2190    11812  2209351            4              4.7       2004
2221    11884  2387463            5              4.5       1972
2237    11888  2209351            4              4.4       1993
2275    12232  2209351            5              4.2       2003
2403    12639  2387463            4              4.0       1951
2413    12661  2387463            4              3.8       1987
2435    12778  2209351            5              4.3       1991
2478    13015  2209351            5              4.5       1987
2845    14484  2209351            5              4.0       1988
2893    14983  2209351            4              4.5       1967
3000    15582  2387463            4              3.8       2002

                                      movieName
39                                         Jack
278                           Beverly Hills Cop
448                                        Cujo
816                                         PCU
830               Santa Claus Is Comin' to Town
1113                The Hunchback of Notre Dame
1265       The Crying Game: Collector's Edition
1349                            The Frighteners
1437            Doctor Who: The Ribos Operation
1736                                Deliverance
2107                               Legal Eagles
2158             Ferngully: The Last Rainforest
2190                        Million Dollar Baby
2221  Scooby-Doo Meets the Harlem Globetrotters
2237                        In the Line of Fire
2275                        Lost in Translation
2403                       An American in Paris
2413                                 Hellraiser
2435           Thelma & Louise: Special Edition
2478             The Lost Boys: Special Edition
2845                              The Naked Gun
2893                                    Camelot
3000                         Sweet Home Alabama

In [199]:
filtered.movieName= filtered.movieName.str[:25]

C:\Anaconda3\lib\site-packages\pandas\core\generic.py:2387: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [200]:
filteruserid = filtered.sort_values(by =['userid','predictedrating'], ascending=[False,False]).groupby('userid')

In [202]:
filteruserid.head(100)

,movieid,userid,givenrating,predictedrating,movieyear,movieName
2221,11884,2387463,5,4.5,1972,Scooby-Doo Meets the Harl
830,4129,2387463,2,4.3,1970,Santa Claus Is Comin' to
39,305,2387463,4,4.0,1996,Jack
278,1744,2387463,4,4.0,1984,Beverly Hills Cop
816,3903,2387463,3,4.0,1994,PCU
2403,12639,2387463,4,4.0,1951,An American in Paris
1113,5607,2387463,2,3.8,1996,The Hunchback of Notre Da
1349,6666,2387463,4,3.8,1996,The Frighteners
2158,11651,2387463,4,3.8,1992,Ferngully: The Last Rainf
2413,12661,2387463,4,3.8,1987,Hellraiser
3000,15582,2387463,4,3.8,2002,Sweet Home Alabama
2190,11812,2209351,4,4.7,2004,Million Dollar Baby
2478,13015,2209351,5,4.5,1987,The Lost Boys: Special Ed
2893,14983,2209351,4,4.5,1967,Camelot
1736,9481,2209351,4,4.4,1972,Deliverance
2237,11888,2209351,4,4.4,1993,In the Line of Fire
2435,12778,2209351,5,4.3,1991,Thelma & Louise: Special
1265,6336,2209351,4,4.2,1992,The Crying Game: Collecto
2275,12232,2209351,5,4.2,2003,Lost in Translation
2845,14484,2209351,5,4.0,1988,The Naked Gun
448,2460,2209351,4,3.9,1983,Cujo
1437,7148,2209351,5,3.8,1978,Doctor Who: The Ribos Ope
2107,11347,2209351,4,3.7,1986,Legal Eagles

In [197]:
#import matplotlib.pyplot as plt
#filteruserid.['predictedrating']

In [203]:
boxplot_frame_groupby(filteruserid)import pandas as pd
predictedData = pd.read_csv('predictions.txt',sep=',', header = None,names =["movieid","userid","givenrating","predictedrating"])
#print(predictedData.head())
movieData = pd.read_csv('movie_title.txt',sep='\t', header = None,names =["movieid","movieyear","movieName"])
movieData.head()
Totaldata = predictedData.merge(movieData)
Totaldata.head()
Totaldata =Totaldata.ix[Totaldata.predictedrating > 3.5]
Totaldata.head()
usercounts = Totaldata.groupby('userid').size().sort_values()
highestrated = usercounts[-2:]
# usercounts = Totaldata.groupby('userid')
#print(usercounts)
filtered = Totaldata[Totaldata.userid.isin(highestrated.index)]
#print(filtered)
filtered.movieName= filtered.movieName.str[:25]
filteruserid = filtered.sort_values(by =['userid','predictedrating'], ascending=[False,False]).groupby('userid')
print(filteruserid.head(100))

NameError: name 'boxplot_frame_groupby' is not defined

In [209]:
import pandas as pd
predictedData = pd.read_csv('predictions.txt',sep=',', header = None,names =["movieid","userid","givenrating","predictedrating"])
#print(predictedData.head())
movieData = pd.read_csv('movie_title.txt',sep='\t', header = None,names =["movieid","movieyear","movieName"])
movieData.head()
Totaldata = predictedData.merge(movieData)
Totaldata.head()
Totaldata =Totaldata.ix[Totaldata.predictedrating > 3.5]
Totaldata.head()
usercounts = Totaldata.groupby('userid').size().sort_values()
highestrated = usercounts[-2:]
# usercounts = Totaldata.groupby('userid')
#print(usercounts)
filtered = Totaldata[Totaldata.userid.isin(highestrated.index)]
#print(filtered)
filtered.movieName= filtered.movieName.str[:25]
filteruserid = filtered.sort_values(by =['userid','predictedrating'], ascending=[False,False]).groupby('userid')
filteruserid.to(100)

C:\Anaconda3\lib\site-packages\pandas\core\generic.py:2387: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

AttributeError: 'DataFrameGroupBy' object has no attribute 'to'

In [207]:
filteruserid.pivot(index ='userid', columns ='movieName',
                              values = 'rating')

AttributeError: Cannot access callable attribute 'pivot' of 'DataFrameGroupBy' objects, try using the 'apply' method